.main {
  position: relative;
  width: 1440px;
  height: 769px;
  background-color: #1B2473;
  border: 6px solid #097df0;
  
  .error {
    font-size: 10px;
    /*background: #CB2424;*/
    color: #CB2424;

    display: none;
    &.active {
      display: block;
    }
  }

  .form {                /* белое окно */
    position: relative;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    /*align-items: left; */
    align-items: flex-start;   
    width: 600px;
    height: 412px;
    top: 82px;
    left: 412px;
    border-radius: 20px;
    background-color: #fff;
    text-align: left;
    color: #170b0b;
    padding-left: 60px;
    
    &__input_about {/* заголовок справа */
      position: relative;
      width: 137px;
      height: 16px;
      top: 11px;
      left: 440px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      color: #1A226B;
      text-align: right; 
      border: none; 
      background-color: #fff;    
    }

    &__input_title {         /* вход\регистрация */
      position: relative;
      align-items: center;
      text-align: center;
      width: 115px;
      height: 50px;
      top: 0px;
      left: 190px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 50px;
      line-height: 50px;
      letter-spacing: 0;
      margin-bottom: 0px;/*7*/
    }

    &__input_description-one {       /* email */
      position: relative;
      width: 40px;
      height: 16px;
      top: 0px;/*20*/
      left: 5px;
      font-family: Roboto;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0;
      margin-bottom: -10px;
    }

    &__input_email {           /* строка ввода email */
      position: relative;
      display: flex;
      /*justify-content: flex-start;*/
      width: 509px;
      height: 49px;
      top: 0px;/*20*/
      left: 5px;
      border-radius: 10px;
      border-width: 2px;
      border: 2px solid #787878;
      margin-bottom: -10px;/* 20*/
      

      &-stars {/* звездочка email */
        position: relative;
        width: 9px;
        height: 18px;
        top: 0px;
        left: -13px;
      }

      &-input {/* ввод email */
        width: 400px;
        height: 36px;
        top: 0px;/* 7*/
        font-family: Roboto;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0;
        outline: none;
        margin:  auto 0;
        border: #fff;
        
      }
    }

    &__input_description-two {/*пароль*/
      position: relative;
      width: 56px;
      height: 16px;
      top: 0px;/*20*/
      left: 5px;;
      font-family: Roboto;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0;
      margin-bottom: -10px;
      margin-top: 10px;
    }

    &__input_password {        /* строка ввода пароля */
      position: relative;
      display: flex;
      justify-content: flex-start;
      width: 509px;
      height: 49px;
      top: 0px;/* 20*/
      left: 5px;
      border-radius: 10px;
      border-width: 2px;
      border: 2px solid #787878;
      margin-bottom: -10px;/* отодвигаем чекбокс */ /*20*/

      &-stars {/* звездочка пароля */
        position: relative;
        width: 9px;
        height: 18px;
        top: 1px;
        left: -13px;
      }

      &-input {            /* ввод пароля*/
        position: relative;
        width: 212px;
        height: 36px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0; 
        margin:  auto 0;
        border: #fff;
        
      }
    }

    .custom-checkbox {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #000000;      /* цвет звездочки черный */
      margin-bottom: -10px;/* 5*/
      margin-top: 10px;
    }

    .error::before {
      color: #CB2424;     /* цвет звездочки красный */
    }

    .custom-checkbox::before {
      content: '*';
      position: absolute;
      left: -5px;
      top: -1px;      
    }

    .custom-checkbox__label {
      color: #342f2f; /* цвет текста */
    }

    .custom-checkbox__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .custom-checkbox__checkmark {
      display: block;
      width: 24px;
      height: 24px;
      left: 6px;
      border: 2px solid #706262;/* цвет рамки галочки */
      border-radius: 7px;
      margin-right: 10px;
      position: relative;
    }

    .custom-checkbox:hover .custom-checkbox__checkmark {
      opacity: 0.7;
    }

    .custom-checkbox__input:checked ~ .custom-checkbox__checkmark {
      background-color: #FFFFFF;
    }

    .custom-checkbox__checkmark::after {
      content: "✓";
      position: absolute;
      display: none;
      color: #000000;/* цвет галочки */
      left: 5px;
      top: 4px;
      width: 5px;
      height: 10px;
    }

    .custom-checkbox__input:checked ~ .custom-checkbox__checkmark::after {
      display: block;
    }

    &__input_arreement {
      position: relative;
      display: flex;
      align-items: center;
      width: 412px;
      height: 24px;
      top: 0px;/*20*/   /*не влияет*/
      left: 5px;
      margin-bottom: 0px;/*15*/

      &-stars {
        position: relative;
        width: 9px;
        height: 18px;
        top: 2px;
        left: 3px;
      }

      /*&-input {
        position: relative;        
        z-index: 1;
        opacity: 0;
        width: 15px;
        height: 10px;
        top: 0px;
        right: 100px;
        border-radius: 7px;
        border-width: 2px;
        border-color: #CB2424;
        accent-color: #d21e12;/* красный при нажатии *
      }*/

      
      /*&-span {/* согласие с правилами *
        position: relative;
        width: 347px;
        height: 16px;
        top: 2px;
        left: 14px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
      }*/
    }

    &__input_enter {            /* ВВОд */
      position: relative;
      width: 180px;
      height: 52px;
      left: 180px;
      top: 15px;
      background: #1A226B;
      font-family: Roboto;
      font-weight: 700;
      font-size: 24px;
      line-height: 16px;
      letter-spacing: 0;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}